In [143]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import uszipcode
from uszipcode import SearchEngine

In [2]:
data_path = '/Users/ameliabaum/Desktop/Amelia/Berkeley Fall 2019/CY PLAN 257/Final Project/data/'
notebooks_path = '/Users/ameliabaum/Desktop/Amelia/Berkeley Fall 2019/CY PLAN 257/Final Project/notebooks/'

## Load in the chts tables

In [3]:
os.listdir(data_path+'chts_csv_data')

['LookUp_PLACE.csv',
 'Deliv_PER.csv',
 'Deliv_HH.csv',
 'LookUp_LD.csv',
 'Deliv_PLACE.csv',
 'LookUp_PER.csv',
 'Deliv_LD.csv',
 'ASSN_TravelDate.csv',
 'Deliv_VEH.csv',
 'LookUp_Home.csv',
 'Deliv_ACTIVITY.csv']

In [4]:
persons = pd.read_csv(data_path+'chts_csv_data/Deliv_PER.csv')
hh = pd.read_csv(data_path+'chts_csv_data/Deliv_HH.csv')
place = pd.read_csv(data_path+'chts_csv_data/Deliv_PLACE.csv')
ld = pd.read_csv(data_path+'chts_csv_data/Deliv_LD.csv')
activity = pd.read_csv(data_path+'chts_csv_data/Deliv_ACTIVITY.csv')[['SAMPN', 'PERNO', 'PLANO', 'APURP', 'O_APURP', 'STIME', 'ETIME']]

/Users/ameliabaum/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (40,60,93,97,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/ameliabaum/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (25,27,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/ameliabaum/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (22,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/ameliabaum/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### In Place table: create unique record identifiers by person, place and hh
SAMPN is the unique household identifier, PERNO is the person num within the household. HHPER is a unique id for an individual person and includes information about their household

HHPERPLA is the unique id for a person going to a certain place.

Lat Lon information is redacted, so we only have ZIP code, tract and City for place values. This is likely fine because it would make sense to do out analysis at the census tract level.

In [5]:
place['HHPER'] = place['SAMPN'].map(str) + place['PERNO'].map(str) 

place['HHPERPLA'] = place['HHPER'].map(str) + place['PLANO'].map(str)
place1 = place[['HHPERPLA','MODE',"ARR_HR", "ARR_MIN", "DEP_HR", "DEP_MIN","TRIPDUR", "CITY", 'PNAME', 
                'STATE', 'ZIP',"TRACT"]]
place1.head()

,HHPERPLA,MODE,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,CITY,PNAME,STATE,ZIP,TRACT
0,103198511,NaN,3,0,8,40,NaN,VALLEJO,HOME,CA,94591,252202.0
1,103198512,6.0,9,2,12,53,22.0,BENICIA,BENICIA SENIOR CITIZEN CENTER,CA,94510,960500.0
2,103198513,6.0,13,13,2,59,20.0,VALLEJO,HOME,CA,94591,252202.0
3,103198521,NaN,3,0,9,16,NaN,VALLEJO,HOME,CA,94591,252202.0
4,103198522,5.0,9,26,10,43,10.0,VALLEJO,LOMA VISTA ELEMENTARY SCHOOL,CA,94589,950200.0

### In activity table: create unique record identifiers by person, place and hh id
CHTS entries are organized into individual trips by survey participants ("persons"), each of which has a destination ("place") and activity purpose ("purpose"), a start time and end time, and an interpolated dwell time. 

This data manipulation step forms uniquely identifiable records for every indidivual trip in the travel diary for that daySAMPN is the unique household identifier, PERNO is the person num within the household. HHPER is a unique id for an individual person and the household that they belong to.

HHPERPLA is the unique identfier for person-place combinations. Two trips by the same person with different destinations will have 2 unique HHPERPLA identifiers. The last number is the place number, the second to last is the person id within the household, and the remaining are the household id.

TSERIES_NUM is the number assigned to a trip within an activity path for each person-place combination. An example of what this represents might be: say a person makes a roundtrip trip from their home, as shown in the image below. The trips that are part of the tour are each assigned a number, and each are to a different place and with a different activity purpose. For instance, trips 1 and 2 are both part of the "home-to-work" trip and so they have the same destination (place) but they may have different purposes (ie: one might be an errand, drop off, getting coffee, etc.)

<img src="activity_model.png" style="width: 400px;">

#### Activity Purposes (from CHTS data dictionary)

|    APURP    | Purpose | Other info | APURP | Purpose | Other info  |
|--------|--------|--------|--------|--------|--------|
| **1** | PERSONAL ACTIVITIES      | SLEEPING, PERSONAL CARE, LEISURE, CHORES      |   **20**    |ALL OTHER AFTER SCHOOL OR NON-CLASS RELATED ACTIVITIES |LIBRARY, BAND REHEARSAL, CLUBS, ETC |
| **2** | PREPARING MEALS/EATING      | 0      |   **21**    |  CHANGE TYPE OF TRANSPORTATION/TRANSFER  | WALK TO BUS, WALK TO/FROM PARKED CAR |
| **3** | HOSTING VISITORS/ENTERTAINING GUESTS  | 0|   **22**    |  PICKUP/DROP OFF PASSENGER(S) | 0    |
| **4**| EXERCISE/PLAYING SPORTS      | WITH OR WITHOUT EQUIPMENT |   **23**   |DRIVE THROUGH MEALS| 0 |
| **5**| STUDY / SCHOOLWORK      | 0      |   **24**    | DRIVE THROUGH OTHER| ATM, BANK|
| **6**| WORK FOR PAY AT HOME   | TELECOMMUNICATIONS EQUIPMENT     |   **25**    |WORK-RELATED |MEETING, SALES CALL, DELIVERY |
| **7**| USING COMPUTER/CELLPHONE FOR PERSONAL ACTIVITIES| 0 | **26** | SERVICE PRIVATE VEHICLE |GAS, OIL, LUBE, REPAIRS |
| **8**| ALL OTHER HOME ACTIVITIES  | 0      |   **27**    |ROUTINE SHOPPING  |GROCERIES, CLOTHING, CONVENIENCE STORE, HH MAINTENANCE |
| **9**| WORK/JOB DUTIES      | 0      |   **28**    |SHOPPING FOR MAJOR PURCHASES OR SPECIALTY ITEMS |APPLIANCE, ELECTRONICS, NEW VEHICLE, MAJOR HH REPAIRS |
| **10**| TRAINING      | 0      |   **29**    |HOUSEHOLD ERRANDS |BANK, DRY CLEANING, ETC. |
| **11**| MEALS AT WORK       | 0      |   **30**    |PERSONAL BUSINESS|EAT MEAL AT RESTAURANT/DINER|
| **12**| WORK-SPONSORED SOCIAL ACTIVITIES      | HOLIDAY OR BIRTHDAY CELEBRATIONS, ETC      |   **31**    | 0| 0    |
| **13**| NON-WORK RELATED ACTIVITIES     | SOCIAL CLUBS, ETC      |   **32**    |HEALTH CARE |DOCTOR, DENTIST, EYE CARE, CHIROPRACTOR, VETERINARIAN|
    | **14**|  EXERCISE/SPORTS      | WITH OR WITHOUT EQUIPTMENT | **33** |CIVIC/RELIGIOUS ACTIVITIES| 0|
| **15**| VOLUNTEER WORK/ACTIVITIES       | 0|   **34**    |OUTDOOR EXERCISE | 0|
| **16**| ALL OTHER WORK-RELATED ACTIVITIES AT MY WORK | 0 |   **35**    |INDOOR EXERCISE |GYM, YOGA, ETC. |
| **17**| IN SCHOOL/CLASSROOM/LABORATORY       | 0 |   **36**    |ENTERTAINMENT |MOVIES, WATCH SPORTS, ETC |
| **18**| MEALS AT SCHOOL/COLLEGE      | 0 | **37**    |SOCIAL/VISIT FRIENDS/RELATIVES| 0|
| **19**| AFTER SCHOOL SPORTS/PHYSICAL ACTIVITY | 0|   **38**    | OTHER (SPECIFY) | 0 |

#### Mode Choices (from CHTS data dictionary)

| Code | **Mode Choice** |Code | **Mode Choice** |
|--------|--------|--------|--------|
| **1** | Walk | **16** | Express Bus / Commuter Bus (AC Transbay, Golden Gate Transit, etc) | 
| **2** | Bike | **17** | Premium Bus ( Metro Orange / Silver Line ) |
| **3** | Wheelchair / Mobility Scooter | **18** | School Bus  |
| **4** | Other Non-Motorized | **19** | Public Transit Shuttle (DASH, Emery Go Round, etc.) |
| **5** | Auto / Van / Truck Driver | **20** | AirBART / LAX FlyAway |
| **6** | Auto / Van / Truck Passenger| **21** | Dial-a-Ride / Paratransit (Access Services, etc.) |
| **7** | Carpool / Vanpool| **22** | Amtrak Bus |
| **8** | Motorcycle / Scooter / Moped| **23** | Other Bus |
| **9** | Taxi / Hired Car / Limo|  **24** | BART, Metro Red / Purple Line|
| **10** | Rental Car/Vehicle |  **25** | ACE, Amtrak, Caltrain, Coaster, Metrolink|
| **11** | Private shuttle (SuperShuttle, employer, hotel, etc.)|  **26** | Metro Blue / Green / Gold Line, Muni Metro, Sacramento Light Rail, San Diego Sprinter / Trolley / Orange/Blue/Green, VTA Light Rail|
| **12** | Greyhound Bus |  **27** | Street Car / Cable Car |
| **13** | Plane|  **28** | Other Rail    |
| **14** | Other Private Transit|  **29** | Ferry / Boat |
| **15** | Local Bus, Rapid Bus |

In [6]:
activity['HHPER'] = activity['SAMPN'].map(str) + activity['PERNO'].map(str)
activity['HHPERPLA'] = activity['HHPER'].map(str) + activity['PLANO'].map(str)
activity['TSERIES_NUM'] = activity.groupby('HHPERPLA').cumcount() +1 
activity1 = activity.drop("O_APURP", axis =1, inplace=False)

activity2 = pd.merge(place1, activity1, right_on="HHPERPLA", left_on="HHPERPLA")
activity2.head(10)

,HHPERPLA,MODE,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,CITY,PNAME,STATE,ZIP,TRACT,SAMPN,PERNO,PLANO,APURP,STIME,ETIME,HHPER,TSERIES_NUM
0,103198511,NaN,3,0,8,40,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,1,1,1,03:00,07:00,10319851,1
1,103198511,NaN,3,0,8,40,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,1,1,2,07:00,08:10,10319851,2
2,103198511,NaN,3,0,8,40,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,1,1,1,08:10,08:40,10319851,3
3,103198512,6.0,9,2,12,53,22.0,BENICIA,BENICIA SENIOR CITIZEN CENTER,CA,94510,960500.0,1031985,1,2,37,09:02,12:48,10319851,1
4,103198513,6.0,13,13,2,59,20.0,VALLEJO,HOME,CA,94591,252202.0,1031985,1,3,2,13:13,13:38,10319851,1
5,103198513,6.0,13,13,2,59,20.0,VALLEJO,HOME,CA,94591,252202.0,1031985,1,3,7,14:10,14:55,10319851,2
6,103198513,6.0,13,13,2,59,20.0,VALLEJO,HOME,CA,94591,252202.0,1031985,1,3,8,15:08,17:12,10319851,3
7,103198521,NaN,3,0,9,16,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,2,1,1,03:00,06:30,10319852,1
8,103198521,NaN,3,0,9,16,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,2,1,2,07:30,07:40,10319852,2
9,103198521,NaN,3,0,9,16,NaN,VALLEJO,HOME,CA,94591,252202.0,1031985,2,1,7,08:10,09:16,10319852,3

#### Merge information from the persons table to get demographic information

In [8]:
persons['HHPER'] = persons['SAMPN'].map(str) + persons['PERNO'].map(str)
persons1 = persons[["HHPER", "RELAT", "GEND", "AGE", "HISP", "RACE1"]]
# list(persons.columns)

In [9]:
activity_people = pd.merge(persons1, activity2, right_on="HHPER", left_on="HHPER")

activity_people.head(100)

print("trip records", len(activity_people))

trip records 604710

#### Get just the trip records with valid zip code information (leave the rest)

In [327]:
aa = activity_people.sample(20000)

In [328]:
import time
start = time.time()
def is_zip(code):
    search = SearchEngine(simple_zipcode=True)
    zipcode = search.by_zipcode(code)
    if (zipcode.zipcode is None or zipcode.state != 'CA' or zipcode.zipcode == 99999):
        return False
    else:
        return True

    
# sample = activity_people.sample(2000)
aa["is_zip"] = aa["ZIP"].apply(lambda row: is_zip(row))
v_zips = aa[aa["is_zip"] ==True]
v_zips.head()


end = time.time()

print("elapsed ", end-start)

elapsed  64.5560040473938

In [329]:
print(len(aa))
print(len(v_zips))
print(len(v_zips)/len(aa))

20000
19776
0.9888

#### Group the data by zip code start here at the trip types and return an array

In [294]:
def get_trip_types(df):
    school_work = [5,6,9,10,11, 12, 16,17,18,19,20,25]
    nd_nw = [32,26, 24, 29]
    discretionary = [37,36,34,35,33,14,30]
    shopping = [27,28]
    home = [3,8]
    
    num_sw = len(df[(df["APURP"].isin(school_work))])
    num_ndnw = len(df[(df["APURP"].isin(nd_nw))])
    num_pickdrop = len(df[df["APURP"] == 22])
    num_discret = len(df[(df["APURP"].isin(discretionary))])
    num_shop = len(df[(df["APURP"].isin(shopping))])
    num_home = len(df[(df["APURP"].isin(home))])
    
    return [num_sw, num_ndnw, num_pickdrop, num_discret, num_shop, num_home]

In [295]:
def get_TOD_trips(df):
    '''categorized by arrival time'''
    
    
    early_morn = pd.Interval(left='03:00', right='06:59')
    morn = pd.Interval(left='07:00', right='11:59')
    afternoon = pd.Interval(left='12:00', right='16:59')
    eve_night = pd.Interval(left='17:00', right='2:59')
    
     
    num_em = len(df[(df["STIME"].apply(lambda x: x in early_morn))])
    num_m = len(df[(df["STIME"].apply(lambda x: x in morn))])
    num_aft = len(df[(df["STIME"].apply(lambda x: x in afternoon))])
    num_evn = len(df[(df["STIME"].apply(lambda x: x in eve_night))])
    return pd.Series([num_em, num_m, num_aft, num_evn])

In [296]:
def get_trip_modes(df):

    walk = 1
    bike_etc = [2,3,4,8] #Bike/scooter/mobility scooter/wheelchair
    auto_etc = [5,6,7,9,10] #Car/taxi/TNC
    transit_rail = [11,12,range(14,28)] #bus/paratransit/shuttle/rail 
    other = [13,29] #plane,ferry
    
    
    num_walk = len(df[(df["MODE"] == walk)])
    num_bike = len(df[(df["MODE"].isin(bike_etc))])
    num_auto = len(df[df["MODE"].isin(auto_etc)])
    num_transit = len(df[(df["MODE"].isin(transit_rail))])
    num_other = len(df[(df["MODE"].isin(other))])

    return pd.Series[num_walk, num_bike, num_auto, num_transit, num_other]

In [309]:
len(v_zips[v_zips["TRIPDUR"].isna()])/len(v_zips)

0.28125

In [ ]:
def get_avg_trip_length(df):

In [297]:
def get_features(df):
    
    def get_trip_modes(df):

        walk = 1
        bike_etc = [2,3,4,8] #Bike/scooter/mobility scooter/wheelchair
        auto_etc = [5,6,7,9,10] #Car/taxi/TNC
        transit_rail = [11,12,range(14,28)] #bus/paratransit/shuttle/rail 
        other = [13,29] #plane,ferry
    
    
        num_walk = len(df[(df["MODE"] == walk)])
        num_bike = len(df[(df["MODE"].isin(bike_etc))])
        num_auto = len(df[df["MODE"].isin(auto_etc)])
        num_transit = len(df[(df["MODE"].isin(transit_rail))])
        num_other = len(df[(df["MODE"].isin(other))])

        return [num_walk, num_bike, num_auto, num_transit, num_other]

    def get_TOD_trips(df):
        '''categorized by arrival time'''
    
    
        early_morn = pd.Interval(left='03:00', right='06:59')
        morn = pd.Interval(left='07:00', right='11:59')
        afternoon = pd.Interval(left='12:00', right='16:59')
        eve_night = pd.Interval(left='17:00', right='2:59')
    
     
        num_em = len(df[(df["STIME"].apply(lambda x: x in early_morn))])
        num_m = len(df[(df["STIME"].apply(lambda x: x in morn))])
        num_aft = len(df[(df["STIME"].apply(lambda x: x in afternoon))])
        num_evn = len(df[(df["STIME"].apply(lambda x: x in eve_night))])
        return [num_em, num_m, num_aft, num_evn]

    def get_trip_types(df):
        school_work = [5,6,9,10,11, 12, 16,17,18,19,20,25]
        nd_nw = [32,26, 24, 29]
        discretionary = [37,36,34,35,33,14,30]
        shopping = [27,28]
        home = [3,8]
    
        num_sw = len(df[(df["APURP"].isin(school_work))])
        num_ndnw = len(df[(df["APURP"].isin(nd_nw))])
        num_pickdrop = len(df[df["APURP"] == 22])
        num_discret = len(df[(df["APURP"].isin(discretionary))])
        num_shop = len(df[(df["APURP"].isin(shopping))])
        num_home = len(df[(df["APURP"].isin(home))])
    
        return [num_sw, num_ndnw, num_pickdrop, num_discret, num_shop, num_home]
    
    
    return pd.Series(np.concatenate([get_trip_types(df), get_TOD_trips(df), get_trip_modes(df)]))

In [ ]:
get avg_trip_length(df)

In [303]:
f = v_zips.groupby("ZIP").apply(get_features)
f.columns = ["num_sw", "num_ndnw", "num_pickdrop", "num_discret", "num_shop", "num_home",
  "num_em", "num_m", "num_aft", "num_evn", "num_walk", "num_bike", "num_auto", "num_transit", "num_other"]

In [304]:
f

,num_sw,num_ndnw,num_pickdrop,num_discret,num_shop,num_home,num_em,num_m,num_aft,num_evn,num_walk,num_bike,num_auto,num_transit,num_other
ZIP,,,,,,,,,,,,,,,
90003,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
90004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90012,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0
90018,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
90020,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
90026,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90028,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
90031,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
90033,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0
90036,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
90040,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
90045,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
90046,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
90065,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
90095,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0
90201,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
90221,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
90241,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90255,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
90270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90278,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
90280,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
90403,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
90603,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
90605,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
90630,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90650,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
90706,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
90715,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
90717,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95971,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
95973,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0
95988,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
95991,0,0,0,2,0,0,0,1,1,0,0,0,2,0,0
95993,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0
96003,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0
96007,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
96013,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
96015,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
96022,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
96032,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
96055,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
96056,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96058,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
96064,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
96067,0,0,0,1,0,2,0,0,3,0,0,0,3,0,0
96080,2,0,0,1,1,0,0,1,3,1,0,0,5,1,0
96091,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
96093,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0
96094,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
96101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96107,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0
96114,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
96122,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
96130,2,0,0,2,0,0,0,3,0,0,0,0,4,0,0
96137,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
96141,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
96143,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
96150,0,0,1,0,0,0,0,0,1,2,0,0,3,0,0
96161,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [250]:
for code,df in v_zips.groupby("ZIP"):
    activity_type = get_trip_types(df)
    tod = get_TOD_trips(df)
    modes = get_trip_modes(df)
    print(activity_type)
    print(tod)
    print(modes)
    break

[0, 0, 0, 1, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0, 0]

In [216]:
cols

[1, 1]

In [209]:
v_zips.groupby("ZIP").agg({"inbound_trips": lambda df: get_37_trips(df), 
                           "inbound38_trips": lambda df: get_38(df)})

KeyError: 'APURP'

In [163]:
zipc_data

      zip code    1
0        94591  NaN
1        94510  NaN
2        94589  NaN
3        92127  NaN
4        92128  NaN
5        92108  NaN
6        92111  NaN
7        92027  NaN
8        92025  NaN
9        95341  NaN
10       95340  NaN
11       95348  NaN
12       99999  NaN
13       90002  NaN
14       90001  NaN
15       95648  NaN
16       95118  NaN
17       95123  NaN
18       92543  NaN
19       94132  NaN
20       94127  NaN
21       94103  NaN
22       94102  NaN
23       90037  NaN
24       90232  NaN
25       90712  NaN
26       90715  NaN
27       92313  NaN
28       92354  NaN
29       92507  NaN
...        ...  ...
94574      NaN  1.0
94590      NaN  1.0
94596      NaN  1.0
94597      NaN  1.0
94598      NaN  1.0
94619      NaN  1.0
94621      NaN  1.0
94960      NaN  1.0
95023      NaN  1.0
95060      NaN  1.0
95062      NaN  2.0
95111      NaN  1.0
95112      NaN  1.0
95119      NaN  1.0
95136      NaN  1.0
95205      NaN  1.0
95322      NaN  1.0
95348      NaN  1.0
95361      NaN  1.0
95556      NaN  1.0
95606      NaN  1.0
95616      NaN  1.0
95648      NaN  1.0
95667      NaN  1.0
95843      NaN  1.0
95945      NaN  1.0
95963      NaN  1.0
96002      NaN  1.0
96101      NaN  1.0
96122      NaN  1.0

[4396 rows x 2 columns]

In [76]:


for i in range(1,130):
    print(activity_people["STIME"][i], activity_people["STIME"][i] in early_morn)

07:00 True
08:10 False
09:02 False
13:13 False
14:10 False
15:08 False
03:00 False
07:30 False
08:10 False
09:26 False
10:56 False
12:15 False
12:37 False
03:00 False
08:35 False
12:00 False
12:30 False
15:50 False
16:55 False
17:55 False
19:00 False
19:40 False
03:00 False
08:50 False
09:14 False
10:50 False
11:30 False
11:45 False
12:00 False
12:25 False
12:40 False
12:55 False
13:10 False
15:50 False
16:55 False
17:55 False
19:00 False
20:15 False
20:40 False
21:05 False
21:31 False
03:00 False
11:30 False
11:45 False
12:00 False
15:50 False
03:00 False
08:35 False
15:50 False
03:00 False
08:35 False
15:50 False
03:00 False
07:33 False
07:37 False
09:45 False
10:15 False
10:55 False
11:20 False
11:40 False
12:20 False
16:02 False
16:15 False
16:40 False
17:22 False
17:45 False
18:20 False
20:20 False
03:00 False
09:45 False
10:15 False
10:55 False
11:20 False
11:40 False
12:20 False
18:20 False
20:20 False
03:00 False
07:33 False
16:15 False
17:45 False
18:20 False
20:20 False
03:00 False
07:33 False
16:15 False
17:45 False
18:20 False
20:20 False
03:00 False
07:33 False
16:15 False
16:40 False
18:20 False
20:20 False
03:00 False
09:45 False
10:15 False
10:55 False
11:20 False
11:40 False
12:20 False
18:20 False
20:20 False
03:00 False
03:00 False
03:00 False
08:12 False
08:25 False
08:30 False
12:17 False
12:35 False
12:45 False
03:00 False
08:30 False
15:15 False
17:31 False
18:40 False
22:30 False
03:00 False
08:30 False
15:15 False
17:31 False
18:40 False
22:30 False
03:00 False
05:00 True
05:00 True
16:00 False

#### Create Some Variables

In [82]:
early_morn = pd.Interval(left='03:00', right='06:59')
morn = pd.Interval(left='07:00', right='11:59')
afternoon = pd.Interval(left='12:00', right='16:59')
eve_night = pd.Interval(left='17:00', right='2:59')
def encode_arrival_TOD(a_time):
    '''takes in the set of trips for one person'''
    num_em = 0
    num_m = 0
    num_aft = 0
    num_evn = 0
    if (a_time in early_morn):
        num_em +=1
    elif (a_time in morn):
        num_m +=1
    elif (a_time in afternoon):
        num_aft +=1
    elif (a_time in eve_night):
        num_evn +=1
    return [num_em, num_m, num_aft, num_evn]

In [89]:
activity_people.groupby("HHPER")["STIME"].mean()
# .apply(encode_arrival_TOD)

DataError: No numeric types to aggregate